body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}
main {
    width: 100%;
    background-color: rgb(230, 230, 230);
}
.btn {
    background-color: white;
    border-radius: 5px;
    border: 2px solid #2196F3;
    padding: 8px;
    font-size: 10px;
    color: #2196F3;
}
.btn3 {
    background-color: white;
    border-radius: 5px;
    border: 2px solid #2196F3;
    font-size: 10px;
    text-align: left;
    color: #2196F3;
    width:fit-content;
    height: 40px;
}
.navbar {
    width: 100%;
    background-color: white;
    display: inline-block;
    overflow: hidden;
}
.nav-right {
    float: right;
    text-decoration: none;
}

.nav-left {
    float: left;
    text-decoration: none;
}
  
li {
    list-style-type: none;
    display: inline;
    padding: 10px 10px;
    color: grey;
}
.smallgrid {
    display: grid;
    grid-template-columns: auto auto;
}

.grid-item3 {
    grid-column: 1/1;
    background-color: #2196F3;
    font-size: 15px;
    color: white;
    margin-top: auto;
    border-radius: 3px;
}
.grid-item7 {
    grid-column: 2/3;
}
.grid-item8 {
    grid-column: 3/4;
}
.smallgrid2 {
    display: grid;
    grid-template-columns: 31.5% 31% 31.5%;
    text-align: center;
    column-gap: 20px;
}
.grid-item9 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 15px;
  }

.main-container {
    width: 50%;
    margin:auto;
    height: 700px;
    padding-top: 15px;
}
.grid-item1 {
    align-self: flex-end;
    padding-right: 10px;
}

.grid-container1 {
    margin:auto;
    height: 120px;
    text-align: center;
}
.grid-container2 {
    position: relative;
    height: 250px;
}
.grid-container3 {
    display: grid;
    grid-template-columns: 31.5% 31% 31.5%;
    color: white;
    position: relative;
    height: 250px;
    font-size: 10px;
    grid-gap: 20px;
    text-align: left;
}
.grid-item30, .grid-item31, .grid-item32 {
    background-color: rgb(25,84,117);
    padding: 0px 15px 15px 15px;
    border-radius: 3px;
}
.grid-item12, .grid-item13, .grid-item14 {
    font-size: 15px;
}
.grid-item24, .grid-item25, .grid-item15, .grid-item16, .grid-item17, .grid-item18, .grid-item19 {
    font-size: 10px;
    font-style: italic;
}
.grid-item20 {
    font-size: 20px;
    color: grey;
    margin-top: auto;
}
.grid-item21, .grid-item22, .grid-item23 {
    color: white;
    padding: 15px;
    border-radius: 3px;
}

.btn2 {
    background-color: rgb(117,178,127);
    border-radius: 5px;
    border: none;
    color: white;
    padding: 8px;
    font-size: 10px;
}
h2 {
    font-size: 10px;
}
h1 {
    font-size: 20px;
    line-height: 1px;
}
h4 {
    font-size: 15px;
}
h6 {
    line-height: 1px;
}
a {
    font-size: 40px;
    color: grey;
    font-style: normal;
}


