html {
  background-color: rgb(226, 172, 127);
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

body {
  background: rgb(245, 245, 220);
  border: 3px dotted black;
  padding: 32px;
  margin: 10px auto;
}

h1 {
  font-family: Arial;
  font-size: 40px;
  font-style: italic;
  margin: 5px;
}

ul ::first-letter {
  font-weight: bold;
  text-transform: uppercase;
}

ul {
  font-style: italic;
  list-style-type: none;
}

p {
  font-size: 12px;
}
