html{
    background-image: url("thor.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.topmenu ul{ 
    font-family: "Barlow";
    font-weight: bold;
    list-style: none;
    display: inline;

} 
.topmenu a{
    text-decoration: none;
    display: block;
    margin: 21px;
    color: white; 
}
.topmenu li{
    display: inline-block;
}
header {
    text-align: right;
    background-color: black;
    color: white;
}
h1{
    font-size: 100px;
    margin-left: 20px;
}
h6{
    font-size: large;
    margin-left: 20px;
    margin-right: 300px;
}
p{
    background-color: black;
    font: 10px;
    color: white;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
  }